@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
head {
  display: none;
}
html, body {
  min-width: 290px
px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

body {
  display: block;
  margin: 8px;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 10px;
}
.gallery img {
  width: auto;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  border-color: black;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section {
  display: block;
  margin-top: 30px;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1;
}

.sidenav .icon {
  display: none;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a, .dropdown-btn{
  color: #white;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

.sidenav-header {
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #1D1E22;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Code to make things responsive */


header {
    color: black;
    margin: 10px;
    margin-top: 50px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#main-doc header {
  text-align: left;
  margin: 0px px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

code {
  font-family: monospace;
}

